.PostWrapper{
  margin: 5px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  .commentsSection{
    width: 90%;
    border-left: 1px solid black;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
  }
}
