.LikePanelwrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10%;
  .Panel{
    height: 80%;
    width: 50%;
    background-color: rgb(219, 219, 219);
    border-radius: 5%;
    .square{
      height: 33%;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      font-size: 25px;
      font-weight: 700;
      text-align: center;
      color: rgb(162, 57, 210);
    }
  }
}
